@import url(./colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* RESET */

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: #000;
}

.btn {
    text-decoration: none;
    border: none;

    padding: 16px 60px;
    border-radius: 32px;
}

li ul {
    list-style: none;
}