@import url(./colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* RESET */

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: #000;
}

.btn {
    text-decoration: none;
    border: none;

    padding: 16px 60px;
    border-radius: 32px;
}

ul {
    list-style: none;
}


/* HEADER NAV */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 18px 3%;
}

.nav .links {
    display: flex;
    justify-content: center;
    gap: 25%;
}

.page {
    color: var(--subTitle-d);
    transition: 1s all;
}

.page:hover {
    color: var(--subTitle-l);
    opacity: .6s all;
}

.btn-action {
    background-color: var(--primaryColor);
    color: var(--white);

    transition: 1s all;
}

.btn-action:hover {
    opacity: 0.6;
}
