@import url(./colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* RESET */

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: #000;
}

.btn {
    text-decoration: none;
    border: none;

    padding: 16px 60px;
    border-radius: 32px;
}

ul {
    list-style: none;
}


/* HEADER NAV */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 18px 3%;
}

.logo {
    width: 160px;
}

.nav .links {
    display: flex;
    justify-content: center;
    gap: 25%;
}

.page {
    color: var(--subTitle-d);
    transition: 1s all;
}

.page:hover {
    color: var(--subTitle-l);
    opacity: .6s all;
}

.btn-action {
    background-color: var(--primaryColor);
    color: var(--white);

    display: block;
    text-align: center;

    transition: 1s all;
}

.btn-cv {
    background: transparent;
    text-transform: uppercase;
    color: var(--primaryColor);
}

.btn-cv:hover {
    text-decoration: underline;
}

.btn-action:hover:not(.btn-cv:hover) {
    opacity: 0.6;
    background: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

/* HERO SECTION */

.wrapper-hero {
    display: flex;
    flex-direction: column;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
}

.hero-content:not(.btn-action) {
    height: 100%;
    padding: 20px 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-image, .hero-content {
    width: 100%;
}

.hero-title {font-size: 64px; margin-bottom: 10px; color: var(--title-d);}

.hero-text {font-size: 18px; margin: 20px 0; color: var(--text-d);}

.hero-content a  {
    width: 250px;
}

.main-image {
    width: 100%;
    height: 100%;
}

/* SECTION GRADIENT */

.gradient-section {
    width: 100%;
    height: 120px;
    background: linear-gradient(90deg, #72db9e, #3faceb);
    position: relative;
}

.sliding-text-container {
    background-color: #000;
    color: white;
    font-weight: bold;
    padding: 40px 0;
    transform: rotate(-2deg);
    width: 120%;
    margin-left: -10%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.sliding-text {
    display: flex;
    gap: 100px;
    font-size: 1.5em;
    animation: slide 20s linear infinite;
}

.sliding-text:first-child {
    margin-right: 50px;
}

.tech-item {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

/* MAIN */

.main {
    padding: 80px 4%;
}

/* SERVICES */

.services-section {
    display: flex;
    flex-direction: column;
}

.header-services {
    display: flex;
    margin-bottom: 32px;
    gap: 10px;
}

.title-services {
    color: var(--title-d);
}

.text-services {
    color: var(--text-d);
}

.title-services, .text-services {
    width: 50%;
}

.decoration {
    margin: 0 0  0 auto;
    width: 250px;
}

.acordeon-item {
    overflow: hidden; 
    
    margin-bottom: 20px;
    border-radius: 16px;
}

.acordeon-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    background-color: #f7f7f7; 
    color: #333;

    padding: 40px 80px;
    font-weight: 600;

    transition: background-color 0.3s;
}

.acordeon-header:hover {
    background-color: #eee;
}

.acordeon-number {
    font-size: 1.2em;
    margin-right: 15px;
}

.acordeon-title {
    flex-grow: 1;
}

.acordeon-close-btn {
    font-size: 1.5em;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.acordeon-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 40px;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    
    background-color: var(--gray); 
    color: #f7f7f7;
}

.acordeon-checkbox:checked + .acordeon-header {
    background-color: var(--gray); 
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.acordeon-checkbox:checked ~ .acordeon-content {
    max-height: 500px; 
    padding: 40px 80px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 15px;
}

.tag {
    background-color: #333;
    color: var(--text-l);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
}

.acordeon-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 6px;
    margin-top: 15px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.fa-code {
    color: #93fa93;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 768px) {
    .hero-image, .hero-content {
        width: 50%;
    }
    .wrapper-hero {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }
}

@media screen and (min-width: 992px) {
    .wrapper-hero {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .hero-title {
        font-size: 96px;
    }

    .title-services {font-size: 64px;}

    .hero-text {font-size: 24px;}

    .text-services, .acordeon-title, .acordeon-number, .acordeon-content p {font-size: 18px;}
}

@media screen and (min-width: 1400px) {
    .hero-title {font-size: 120px;}

    .title-services {font-size: 86px;}

    .hero-text {font-size: 32px; }

    .text-services, .acordeon-title, .acordeon-number, .acordeon-content p {font-size: 28px;}
}